/*Pagina inicio*/

/*body*/
.red{
	background-color: red;
}

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background-color:#006699; 
} 

#principal{ 
	width:1280px;
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	background-color: white;
}

*{
	margin: 0px;
	padding: 0px;
}

/*Encabezado*/

header{
	background-color: #025373;
	width: 1280px;
}

/*Titulo*/

header h1{	
	color:white;
	font-size:55px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:50px;
	
}

/*Menu de navegacion*/

h1, nav{
	display: inline-block;
	vertical-align: middle;
}

#menu{
	display:none;
}

nav ul li:first-child{
	display: none;
}

.navegacion{background:white;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navegacion a{color: #1b3b3b;}

#lista{
	position:relative;
	display:inline-block;
}

ul #lista:hover #absoluta{
	display:block;
	margin:0;

}

ul{
	margin:0px;
}

nav ul li {
	display:inline-block;
	padding:10px 0px;
	width:120px;
	margin:10px 25px;
	text-align: center;
}

li a{
	color:white; 
	text-decoration:none;
	display:inline-block;
	
}

a:hover{
	color:#87b719;
}

#absoluta{
	position:absolute;
	padding-left:0px;
	display:none;
	margin:0;
	top:40px;
	left:0px;
}
#absoluta li{
	margin: 0px;
	position:relative;
	background: #025373;
	border:solid 1px white;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#absoluta li a{
	color:white;
}
#absoluta li a:hover{
	color:#87b719;
}

/*banner superior*/

#banner1{
	width: 1280px;
	height: 720px;
	background: url(../imagenes/nyhavn.jpg);
}

.caption  {
	padding-top: 320px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 80px;
	font-size: 30px;
	color: #fff;
	font-weight: 100px;
}

#linea{
	border-left:5px solid #9fd12d; /*rojo #871208 verde #1b3b3b*/
	padding-left:20px;
	padding-bottom:10px;
}

/*premios pagina inicio*/

#datos {
	background-color:#03729e;	
	margin-top:-23px;
	height:300px;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:white;
	font-size:40px;
	width:1280px;
	text-align: center;
	font-weight: 300;
}

#verdeCapital {
	background:url("../imagenes/eco-friendly.png") no-repeat 170px 0;
	padding-top:90px;
	width:415px;
	display:inline-block;
	margin-top:55px;
	text-align:center;	
}

#feliz {
	background:url("../imagenes/smile.png") no-repeat 170px 0;
	padding-top:90px;
	width: 415px;
	display:inline-block;
	margin-top:55px;	
	text-align:center;
}

#saludable {
	background: url("../imagenes/health.png") no-repeat 170px 0;
	padding-top:90px;
	width:395px;
	display:inline-block;
	margin-top:55px;
	text-align:center;
}

/*Subtitulo 2da seccion*/

#subtitulo h2 {
	text-align:center;
	color: #1b3b3b;
	font-size:60px;
	margin:45px;
}

/*Video pagina inicio*/

#video {
	display:block;
	margin:45px auto;
}

/*imagenes lugares pagina inicio*/

#lugares h2{
	font-size: 60px;
	margin:45px;
	color: white;
}

#lugares {
	text-align: center;
	width: 1280px;	
	background-color: #03729e;
	padding-top: 20px;
}

/*Textos pagina inicio*/

#aprendamostxt{
	text-align: center;
}

#aprendamostxt h2{
	margin: 50px;
	font-size: 60px;
	color: #1b3b3b;
}

#texto1 {
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:black;
	margin-left:40px;
	float:left;
	width:572px;
	font-size:22px;
	margin-top:25px;
	margin-bottom:45px;
	text-align:justify;
}

#texto2 {
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	color:black;
	margin-right:40px;
	float:right;
	width:572px;
	font-size:22px;
	margin-top:25px;
	margin-bottom:45px;
	text-align:justify;
}

/*imagen Forest Tower pagina inicio*/


/*footer*/

footer {
	width:1280px;
	background-color:#025373;
	margin-top: 0px;
	padding-top: 0px;
	overflow: auto;
}

footer ul{
	overflow: auto;
}

footer ul li {
	display:inline-block;
	margin: 15px;
	text-align:center;
	display:block;
	color:white;
}



/*Pagina atracciones*/

/*banner superior */
#banner2{
	width: 1280px;
	height: 566px;
	background: url(../imagenes/tivoli-gardens.jpg);
}

.caption1{
	padding-top: 250px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 80px;
	font-size: 30px;
	color: #fff;
	font-weight: 100px;	
}

/*titulos de los itinerarios*/

#itinerario h3{
	font-family: 'Open Sans', sans-serif;
	font-size:50px;
	font-weight:500;
	color:white;
	display:inline-block;
}

/*Imagenes de los itinerarios*/

#itinerario img {
		display:inline-block;
		padding-top:45px;
		padding-left:40px;
		padding-bottom:45px;
}

/*Separacion entre atracciones*/

.separacion {
	margin-top:45px;
	width:1280px;
	margin-bottom:45px;

}

/*Titulo y texto de cada atraccion*/

.izquierda {
	float:left;
	padding-left:40px;
	padding-top:45px;
	width: 555px; 
	margin: 0px;
}

.derecha {
	float:right;
	padding-right:25px;
	padding-top:45px;
	width: 555px; 
}

.textoder {
	color:white;
	width:500px;
	padding-bottom:25px;	
	float: right;
	padding-right:80px;
	margin-top:-280px;
}

.textoizq {
	color:white;
	width:500px;
	padding-bottom:25px;
	margin-top:-300px;
	float:left;
	padding-left:40px;
	margin-left: 0px;
}

.espacio {
	margin-top:-340px;
}

.espacio2 {
	margin-top:-340px;
}

/*Capas de colores por atraccion*/
/*1era*/
.capa1naranja{
	background-color:#ef9b52;
	width:1249px;
	padding-bottom:5px;
	padding-top:5px;
}

.capa2naranja{
	background-color:#ee8529;
	width:1239px;
	padding-bottom:5px;
	padding-top:5px;
	margin-right: -40px
}

.capa3naranja{
	background-color:#f27405;
	width:1229px;
	padding-top:5px;
	overflow: auto;
}

/*2da*/
.capa1verde{
	background-color:#144d4d;
	width:1249px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left:31px;
}

.capa2verde{
	background-color:#093737;
	width:1239px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left: 10px;
}

.capa3verde{
	background-color:#012626;
	width:1229px;
	padding-top:5px;
	margin-left: 10px;
	overflow: auto;
}

/*3era*/
.capa1verde2{
	background-color:#c1ec5e;
	width:1249px;
	padding-bottom:5px;
	padding-top:5px;
}

.capa2verde2{
	background-color:#9fd12d;
	width:1239px;
	padding-bottom:5px;
	padding-top:5px;
}

.capa3verde2{
	background-color:#87b719;
	width:1229px;
	padding-top:5px;
	overflow: auto;
}

/*4ta*/
.capa1azul{
	background-color:#4ba5c8;
	width:1249px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left:31px;
}

.capa2azul{
	background-color:#1c7496;
	width:1239px;
	padding-bottom:5px;
	padding-top:5px;
	margin-left: 10px;
}

.capa3azul{
	background-color:#025373;
	width:1229px;
	padding-top:5px;
	margin-left: 10px;
	overflow: auto;
}




/*Pagina informacion*/

/*Banner superior*/


#banner3{
	width: 1280px;
	height: 671px;
	background: url(../imagenes/Børsen.jpg);
}


/*tours por seccion derecha e izquierda*/


.tourd{
	overflow: auto;
	width: 1280px;
	padding-top: -10px;
	background-color: #025373;
	padding-bottom: 30px;
}

.touri{
	overflow: auto;
	width: 1280px;
	padding-top: -50px;
	background-color: #f27405;
	padding-bottom: 30px;
}

/*Imagenes de tours por seccion derecha e izquierda*/

.imgizq{
	padding-top: 0;
	display: inline-block;
	margin-left: 610px; 
	margin-top: -10px;
}

/*Titulos tours por seccion derecha e izquierda*/

.derecha2{	
	float:right;
	margin-top: 85px;
	padding-right: 100px;
	width: 495px;
	font-weight: bold; 
}

.izquierda2{
	float:left;
	margin-left: 50px;
	margin-top:-400px;
	width: 525px;
	font-weight: bold; 
}

/*Textos tours por seccion derecha e izquierda*/

.der2{
	color:white;
	width:495px;
	padding-bottom:25px;
	padding-right: 100px;	
	margin-top:-250px;
	float: right;
}

.izq2{
	color:white;
	width:495px;
	padding-bottom:25px;
	margin-left: 50px;	
	margin-top:-250px;
	float: left;
}

/*Palabra clickeable RESERVA YA*/

#itinerario a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}


/*Pagina Contacto*/

/*banner superior */

#banner4{
	width: 1280px;
	height: 574px;
	background-image: url(../imagenes/Blagaardsgade.jpg);
}

/*Formulario bloque completo*/

#formulario {
	width:1280px;
	padding:30px 0px;
	color:white;
	font-size:20px;
	line-height : 35px;
	background: #025373 url(../imagenes/calendar.jpg) no-repeat 220px 250px ;
	overflow: auto;
}

form{
	width: 500px;
	float: right;
	margin-right: 50px;
}

/*Texto y titulo*/

#formulario p{
	width: 570px;
	text-align: left;
}

#formulario h2{
	margin-bottom: 25px;
}

#formtxt{
	width:570px;
	float: left;
	margin-left: 100px;
}

/*titulo de inputs*/

#formulario form div span{
	margin: 10px 0px;
	font-weight: bold;
	text-align: left;	
}

/*inputs*/

#formulario form div input{
	width: 450px;
	height: 30px;
}

/*textarea*/

textarea{
	width: 450px;
	resize: none;
}

/*input file*/

.inputfile{
	margin-bottom: 10px;
}

/*separacion entre inputs*/

#formulario span {
	display:block;
}

#checkbox{
	width: 20px !important;
}

/*Botones*/

.botones{
	margin-top: 20px;
	width: 200px;
	height: 30px;	
}

.verde{
	background-color: #87b719;
	color: white;
}

/*mapa*/

#mapa {
	display:block;
	margin:auto;
}


/*Pagina Gracias*/

/*menasje de consulta enviada*/

#gracias {
	height: 685px;
	color: white;
	background: #f27405 url(../imagenes/celular.png) no-repeat 105px 110px;
	
}

#enviada{
	font-size: 70px;	
	display: inline-block;
	margin-left: 800px;
	margin-top: 160px;
	font-weight: 200;
}

#comunicarte{
	margin-left: 800px;
	margin-top: 20px;
	font-weight: 300;
}


/*Mobile*/

@media screen and (max-width:480px){

	/*Pagina inicio*/

	#principal{ 
		width:480px;
		font-family: 'Open Sans', sans-serif;
		margin: auto;
		background-color: white;
	}

	/*Encabezado*/

	header{
		width: 480px;
	}

	/*Titulo*/

	header h1{
		font-size: 40px;
		margin-left:20px;
	}

	/*Menu de navegacion*/

	#menu{
		background: url(../imagenes/menu.png) no-repeat;
		width: 36px; 
		height: 36px;
		display:inline-block;
		font-size:0;
		margin-left:30px;
		vertical-align: middle;
	}

	nav ul li:first-child{
		display: block;
		margin-left: 40px;
	}
	#menuNav:target{
		display:block;
		width:200px; 
		margin-left:155px;
	}

	#menuNav{
		display: none;
	}

	#cerrar{
		display:block;
		background:url(../imagenes/close.png) no-repeat;
		width: 36px;
		height: 36px; 
		font-size: 0
	}

	/*banner superior*/

	#banner1{
		width: 480px;
		height: 520px;
		background: url(../imagenes/nyhavn-mobile.jpg) no-repeat;
		
	}
	
	.caption  {
		padding-top: 320px;
		font-family: 'Open Sans', sans-serif;
		margin-left: 40px;
		font-size: 20px;
		color: #fff;
		font-weight: 100px;
	}
	
	#linea{
		border-left:5px solid #9fd12d; /*rojo #871208 verde #1b3b3b*/
		padding-left:20px;
		padding-bottom:10px;
	}

	/*premios pagina inicio*/

	aside{
		display: none;
	}

	/*Subtitulo 2da seccion*/

	#subtitulo h2 {
		color: #1b3b3b;
		font-size:30px;
		
	}

	h2 span {
		display: block;	
	}

	/*Video pagina inicio*/

	iframe{
		width: 460px;
		height: 260px;
	}

	/*imagenes lugares pagina inicio*/

	#lugares {	
		display: none;
	}
	
	/*Textos pagina inicio*/

	#aprendamostxt h2{
		margin: 50px;
		font-size: 30px;
		color: #1b3b3b;
	}

	#texto1{
		width: 400px;
		float: none;
		margin-left:40px ;	
	}
	
	#texto1 p{
		margin-bottom: 10px;
	}

	#texto2{
		display: none;
	}

	/*footer*/

	footer {
		width:480px;
		background-color:#025373;
		margin-top:-25px;
		padding-top: 30px;
	}

	/*Pagina atracciones*/

	/*banner superior */

	#banner2{
		width: 480px;
		height: 520px;
		background: url(../imagenes/tivoli-gardens-mobile.jpg) no-repeat;
	}
	
	.caption1{
		padding-top: 320px;
		font-family: 'Open Sans', sans-serif;
		margin-left: 40px;
		font-size: 20px;
		color: #fff;
		font-weight: 100px;	
	}

	/*titulos de los itinerarios*/

	#itinerario h3{
		font-size: 35px;
		width: 400px;
	}

	/*Imagenes de los itinerarios*/

	#itinerario img {
		padding-left:0px;
		padding-bottom:45px ;
	}

	/*Separacion entre atracciones*/

	.separacion {
		margin-top:0px;
		width:480px;
		margin-bottom:0px;

	}

	/*Titulo y texto de cada atraccion*/
	#espacio {
		margin-top:0px;
	}

	.espacio2 {
		margin-top:0px;
	}
	
	.izquierda {
		float:right;
		padding-left:40px;
		padding-top:45px;
		width: 555px; 
		margin: 0px;
	}
	.derecha {
		float: none;
		padding-right:0px;
		padding-top:0px;
	}

	.marginfixed{
		margin-top:0px;
	}

	.textoder{
		width: 440px;
		float: none;
		padding-right:0px;
	}

	.textoizq {	
		width:440px;
		margin-top:0px;
		float:none;
	}
	
	.box{
		position: relative;
	}

	.overimg{
		position: absolute;
	}
	
	.reducir{
		display: none;
	}
	/*1er titulo y texto*/
	#title1position{
		left: 20px;
		top: 60px;
	}
	
	#txt1position{
		left: 20px;
		top: 550px;
	}
	/*2do titulo y texto*/
	#title2position{
		left:-20px;
		top: 30px;
	}
	
	#txt2position{
		left: -20px;
		top: 250px;
	}
	/*3er titulo y texto*/
	#title3position{
		left:20px;
		top: 70px;
	}
	
	#txt3position{
		left: 20px;
		top: 290px;
	}

	/*4to titulo y texto*/
	#title4position{
		left:-25px;
		top: 25px;
	}
	
	#txt4position{
		left: -25px;
		top: 250px;
	}

	/*5to titulo y texto*/
	#title5position{
		left:25px;
		top: 70px;
	}
	
	#txt5position{
		left: 25px;
		top: 270px;
	}
	
	/*Capas de colores por atraccion*/
	/*1era*/
	.capa1naranja{
		width:480px;
	}

	.capa2naranja{
		width: 480px;
		margin-right:0px;
	}

	.capa3naranja{
		width: 480px;
		overflow: auto;
	}
	
	/*2da*/
	.capa1verde{
		width:480px;
		margin-left:0px;
	}
	
	.capa2verde{
		width:480px;
		margin-left:0px;
	}
		
	.capa3verde{
		width:480px;
		margin-left:0px;
		overflow: auto;
	}

	/*3era*/
	.capa1verde2{
		width:480px;
	}
	
	.capa2verde2{
		width:480px;
	}
	
	.capa3verde2{
		width:480px;	
		overflow: auto;
	}

	/*4ta*/
	.capa1azul{
		width:480px;
		margin-left:0px;
	}
	
	.capa2azul{
		width:480px;
		margin-left: 0px;
	}
	
	.capa3azul{
		width:480px;
		margin-left: 0px;
		overflow: auto;
	}


	/*Pagina informacion*/

	/*Banner superior*/

	#banner3{
		width: 480px;
		height: 520px;
		background: url(../imagenes/børsen-mobile.jpg) no-repeat;
	}

	/*tours por seccion derecha e izquierda*/

	.tourd{
		width: 480px;
		padding-bottom: 0px;
	}

	.touri{
		width: 480px;
		padding-bottom: 0px;
	}
	
	/*Imagenes de tours por seccion derecha e izquierda*/

	.imgizq{
		padding-top: 0;
		margin-left: 0px; 
		margin-top: 0px;
	}

	/*Titulos tours por seccion derecha e izquierda*/

	.derecha2{		
		float:none;
		margin-top: 0px;
		padding-right: 0px;
		width: 400px;
		top: 60px;
		left: 15px;
	}

	.izquierda2{
		float:none;
		margin-left: 0px;
		margin-top:0px; 
		width: 400px;
		top: 60px;
		left: 15px;  
	}

	/*Textos tours por seccion derecha e izquierda*/

	.der2{
		width:460px;
		padding-bottom:0px;
		padding-right: 0px;	
		margin-top:0px;
		float: none;
		top: 300px;
		left: 15px; 
	}

	.izq2{
		width:460px;
		padding-bottom:0px;
		margin-left: 0px;	
		margin-top:0px;
		float: none;
		top: 300px;
		left: 15px;		
	}

	#positionbarcotxt{
		top: 280px;
	}

	#positioncastletxt{
		top: 255px;
	}

	/*Pagina Contacto*/

	/*banner superior */

	#banner4{
		width: 480px;
		height: 520px;
		background-image: url(../imagenes/blagaardsgade-mobile.jpg);
	}

	/*Info formulario*/

	#formulario {
		width:420px;
		height: auto;
		padding:30px 30px;
		color:white;
		background:#025373;
		font-size:16px;
		line-height : 35px;
		margin: auto;
		text-align:left;
	}
	
	#formulario h2{
		width:418px;
		font-size: 23px;
		margin-bottom: 20px;
	}

	#formulario p{
		width: 418px;
		font-size: 17px;
		margin-bottom: 20px;
		margin-left: 0px;
	}

	.italic{
		font-style: italic;
		font-weight: 400;
	}

	form{
		width: 420px;
		margin-left: 0px;
		margin-right: 0px;
		float: none;
	}

	#formtxt{
		width:420px;
		float: none;
		margin-left: 0px;
	}

	#formulario form div input{
		width: 400px;
	}

	/*textarea*/

	textarea{
		width: 400px;
		resize: none;
	}

	/*botones*/

	#formulario form input{
		width: 200px;
		height: 30px;	
	}

	/*mapa*/

	#mapa {
		width: 480px;
	}


	/*Pagina Gracias*/

	/*menasje de consulta enviada*/

	#gracias {
		position: relative;
		color: white;
		background: #f27405 url(../imagenes/celular-mobile.png) no-repeat 95px 350px;
		
	}

	#enviada{
		position: absolute;
		font-size: 40px;
		text-align: center;	
		display: inline-block;
		margin-left: 0px;
		margin-top: 0px;
		font-weight: bold;
		top: 80px;
		left: 10px;
	}
	
	#comunicarte{
		position: absolute;
		margin-left: 0px;
		margin-top: 0px;
		font-weight: 400;
		top: 230px;
		left: 100px;
	}
}